body {
  font-family: Arial;
  background: #f4f6f8;
  margin: 0;
  padding: 20px;
}

h2 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.result-card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  background: #eef2f7;
  align-items: center;
}

.result-card button {
  padding: 6px 10px;
  font-size: 14px;
}

.best {
  background: #c8f7c5;
}